<div class="introduction">
	<h1>I'm <span id="iam" style= "color:#5874c9;">JUSTIN</span></h1>
	<p>
	<strong>Front End Developer<br></strong> based in Portland, OR.
	<br>Take a look at some of my works, and if you like them, feel free to <br><strong>
	<span id="blueletters" style="font-size:42px; color:#5874c9; border:2px;"> contact me</span>
	<br><br><br><br><br><br>
	<img src="scrolldown.png" id="scrolldown">
	</p>
</div>
<!-- =======================ABOUT ME======================== -->
<div class="anglediv" style="background-color:green; height:150px;"></div>
<div class="aboutme">
	This is who I am...
</div>
