<div class="introduction">
	<br><br><br><br><br>
	<h1>I'm <span id="iam" style= "color:#5874c9;">JUSTIN</span></h1>
	<p>
	<strong>Front End Developer<br></strong> based in Portland, OR.
	<br>Take a look at some of my works, and if you like them, feel free to <br><strong>
	<span id="blueletters" style="font-size:42px; color:#5874c9; border:2px;"> contact me</span></strong>
	<br><br><br>
	<img src="scrolldown.png" id="scrolldown">
	</p>
</div>
<!-- =======================ABOUT ME======================== -->

<div class="aboutme">
	<div class='aboutme col-xs-6'>
		<h1><br><span id="target" style= "font-size:100px; color:black">About Me</span></h1>
	</div>
	<div class='aboutme col-xs-6'>
		This is it yo!
	</div>
	
</div>
<div class="first activated" style="background-color:green;">
<h1>uihwefuhwef</h1><br>
	
</div>
<div><h1>iuouiwhrvuojeibrvu8oslknm h<br>ft78yuihgjfct7yu<br>igftyugherugfireuhguoriureohiugvhrwoijkfdsbniuohndwoiskjhfewjdwj</h1></div>
