
<div class="introduction">
	<h1>I'm <span style="font-size:136px; color:#5874c9;
">JUSTIN</span></h1>
	<p><strong>Full Stack Developer<br></strong> based in Portland, OR.
	<br>Take a look at some of my works, and if you like them, feel free to <br><strong>
	<div class="introduction btn-contact">
		<span style="font-size:66px; color:#5874c9; border:2px;> <%= link_to "contact me" %> 
	</p>
		</span>
	</div>
</div>

